@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	width: 100vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	background: #E7E6E8;
}

li{
	list-style: none;
}

a:hover {
	text-decoration: none;
}


.mobile-view{
	display: none!important;
}
.mobile-view .fa-bars{
	color: black;
	font-size: 22px;
}


.menubar{
	width: 100%;
	padding: 10px 0px;
	background: #fff;
	/*box-shadow: 0px 0px 19px 0px rgb(70 64 103 / 23%);*/
}

.menubar ul li{
	padding: 10px;
	align-self: center;
	margin-bottom: 0;
}



.menubar ul li a{
	color:#131220;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	text-transform: capitalize;
}

.logo a{
	color:#0F0F0F;
	font-size: 30px!important;
	font-family: 'Lobster', cursive;
	padding-right: 20px;
}

.menubar .sign-up{
	padding: 8px 15px;
	color: #fff;
	font-size: 12px;
	border-radius: 9px 9px;
	
    background: transparent linear-gradient(180deg, #7272FF 0%, #9759FF 100%) 0% 0% no-repeat padding-box;
}

.menubar ul li .sign-up:hover {
	background: transparent linear-gradient(90deg, #7272FF 0%, #9759FF 100%) 0% 0% no-repeat padding-box;
}



/*Suggestion section style goes here*/


.suggestion{
	padding-bottom: 20px;
}

.suggestion .card-wrapper{
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(155px,1fr));
    grid-gap: 14px;
}

.suggestion .mycard{
    
    text-align: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:15px 10px;
    
}

.suggestion .mycard .img{
	margin: 0 auto;
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 2px solid #E31616;
	overflow: hidden;
}

.mycard .name{
	color:#131220;
	font-size: 12px;
	font-weight: 700px;
	margin-bottom: 5px;
	letter-spacing: 0px;
}

.mycard .title{
	color:#949498;
	font-size: 11px;
	margin-bottom: 20px;
}

.btn-follow{
	color: #9759FF;
	background-repeat: #fff;
	padding: 5px 20px;
	font-size: 12px;
	letter-spacing: 0.43px;
	border-radius: 9px;
	border: 2px solid #9759FF;
	transition: 0.1s;
}

.btn-follow:hover {
	color:#fff;
	background: transparent linear-gradient(180deg, #7272FF 0%, #9759FF 100%) 0% 0% no-repeat padding-box;
}


/*live now*/

.live-now{
	padding: 30px 0px;
	background: #F1F1F1 0% 0% no-repeat padding-box; 
}

.category-icone{
	padding: 10px;
	font-size: 20px;
	color: black;
	text-align: center;
	border-radius: 4px;
	background: #F77F98;
}

.category-name{
	color: #F77F98;
	font-size: 22px;
	margin-left: 16px;
	align-self: center;
}

.bigcard-wrapper{
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(337px,1fr));
    grid-gap: 14px;
}

.model-img img{
	border-radius: 20px;
	border: 2px solid #fff;
}

.model-img{
	min-height: 144px;
	max-width: 135px;
	overflow: hidden;
	border-radius: 20px;
	border:2px solid  #E31616;
}


.model-info{
	flex-grow: 1;
	align-self: center;
	background: #fff;
	padding: 20px;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 0px 3px 6px #0000001F;
}

.model-info .rate{
	font-weight: 500;
	font-size: 12px;
	color: #131220;
	letter-spacing: 0px;
	margin-bottom: 0;
}

.model-info .model-name {
	font-size: 18px;
	color:#131220;
	margin-bottom: 0;
}

.model-info .model-type{
	font-size: 11px;
	color:#949498;
}

.btn-view-more{
	color:#fff;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 9px;
	font-size: 14px;
	background: transparent linear-gradient(90deg, #9759FF 0%, #7272FF 100%) 0% 0% no-repeat padding-box;
	transition: 0.1s;
}

.btn-view-more:hover {
	color:#fff;
	background: transparent linear-gradient(180deg, #9759FF 0%, #7272FF 100%) 0% 0% no-repeat padding-box;
}

.featured{
	padding: 30px 0px;
	background: #fff;
}
.featured .model-img,.all .model-img{
	border: none;
}

.all{
	padding: 30px 0px;
	background: #F1F1F1;
}


/*Model of the week */


.week{
	padding: 30px 0px;
	background: #fff;
}

.week .title{
	text-align: center;
	color: #42424D;
}

.week .model-gallary{
	flex-grow: 1;
	display: grid;
	grid-template: 1fr 1fr/1fr 2fr;
	grid-gap: 5px;
}

.week .model-gallary .img-item{
	border-radius: 15px;
	overflow: hidden;
}

.week .model-gallary .img-item:nth-child(2){
	grid-row: 1/-1;
	grid-column: 2/-1;
	justify-self:start;
}


.week .gallary-info{
	flex-grow: 1;

}

.gallary-info .rate{
	color: #949498;
	font-size: 11px;
}

.gallary-info .model-name{
	color: #131220;
	font-size:22px;
}
.gallary-info .model-title{
	color: gray;
	font-size: 12px;
}

.gallary-info .description{
	font-size: 14px;
	color:#4e4d5c;
}













/*Sign in section style goes here*/


.signin{
	padding: 35px 0px;
	background: #F1F1F1;
}
.signin .slogan{
	color:#131220;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
}
.signin .slogan-2{
	color: #131220;
	font-size: 1.5rem;
	text-align: center;
	font-weight: 400;
}

.btn-google{
	padding: 4px;
	background: #4285F4;
	display: block;
	border-radius: 5px;
}

.btn-google img{
	padding: 5px;
	background: #fff;
}

.btn-twitter {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background: #03AFF0;
}

.btn-twitter .fa-twitter{
	font-size: 20px;
	padding: 8px;
}

.signin .text-light{
	font-size: 12px;
	margin-left: 10px;
}

.signin label{
	font-size: 12px;
	color:;
}


/*.......footer section classes........*/

.footer{
	padding: 20px 0px;
	background: #E4E3EB;
}

.footer .line{
	height: 1px;
	background: #131220;
}

.footer .heading{
	color: #131220;
	font-size: 18px;
}

.footer .link{
	display: block;
	color:#131220;
	font-size: 14px;
	font-weight: 600;

}

.footer .fa{
	color: #fff;
	padding: 2px;
	font-size: 18px;
	background: #131220;
	margin-right: 10px;
	border-radius: 5px;
}